<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Add Food Items</h3>
      <div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div>
            <div class="form-group">
              <label>Food Item Name:</label>
              <input
                type="text"
                class="form-control"
                id="item_name"
                name="item_name"
                [(ngModel)]="items.item_name"
              />
            </div>

            <div class="category-dropdown">
              <label for="item_category">Food Category:</label>
              <select
                class="form-control"
                id="item_category"
                name="item_category"
                [(ngModel)]="items.item_category"
              >
              <option value="southIndian">Breakfast</option>
              <option value="Pizza">Chinese Food</option>
              <option value="Burger">Street Food</option>
              <option value="North">Roti</option>
                <option value="southIndian">South Indian</option>
                <option value="Pizza">Pizza</option>
                <option value="Burger">Burger</option>
                <option value="North">North Indian</option>
              </select>
            </div>

            <div class="form-group">
              <label for="item_price">Enter Price :</label>
              <input
                class="form-control"
                name="item_price"
                type="text"
                [(ngModel)]="items.item_price"
                (keypress)="onlyNumbersAllowed($event)"
                placeholder="Enter Price of food item"
              />
            </div>

            <div class="form-group">
              <label for="item_description">Description</label>
              <textarea
                class="form-control"
                rows="5"
                name="item_description"
                id="item_description"
                [(ngModel)]="items.item_description"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <label for="itemImage">Food Item Image:</label>
              <br />
              <input
              
                type="file"
                name="selectFile"
                id=""
                value="select"
                (change)="onFileSelected($event)"
                required
              />
            </div>
          </div>

          <button
            class="btn btn-outline-info"
            type="submit"
            [disabled]="!f.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
